<html>
    <head>
        <%- include('partials/header.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="contact">
            <h1>Contact Us</h1>
            <br>
            <h3>Address</h3>
            <p>
                64, Sandringham Road,
                <br>
                Sandringham, Auckland 
            </p>
            <h3>Contact</h3>      
            <p>
                Phone: +64 276958430
                <br>                
                Email: ceyloncafe@gmail.com
            </p>
            <h3>Opening Hours</h3>
            <p>Every day 9.00 am - 6.00 pm</p>
        </div> 
        <div class="footer4">
            <%- include('partials/footer.ejs') %>
        </div>
    </body>
</html>
