<html>
    <head>
        <%- include('partials/header.ejs') %>
    </head>
    
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h1>Welcome to Ceylon Cafe</h1>
            <img class="img" src="/public/images/cafe.jpg" alt="Welcome">
            <p style="text-align:justify;">
                The Ceylon Cafe is your local cafe with freshly handmade food. We provide
                fresh coffee, tea and handmade savoury treats which is all made in 
                store. You will experience the blend of flavours and textures that will 
                make your tastebuds craving for more. Ours chefs have created a menu which
                celebrates freshness and flavour.
            </p>
            <p>
                
            </p>
        </div>
        <div class="footer">
            <%- include('partials/footer.ejs') %> 
        </div>
            
    </body>
</html>


